.host-nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px; /* Adjust the value to your preference */
}

.host-nav a {
  text-decoration: none;
  color: black; /* Change color as needed */
  margin: 20px; /* Adjust margin as needed */
}


.host-nav a:focus,
.host-nav a:active {

}
